   body {
            margin: 0;
            background-color: white;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            position: relative;
        }

        #containerroulette {
            position: absolute;
            top: 45%;
            left: 30%;
            transform: translate(-50%, -50%);
            width: 80%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #videoPlayer {
            position: absolute;
            top: 50%;
            left: 33.5%;
            width: 35%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-manche {
            position: absolute;
            top: 33%;
            left: 49%;
            width: 10%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-perenoel {
            position: absolute;
            top: 10%;
            left: 70%;
            width: 60%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }
        #container-bulle-clique {
            position: absolute;
            top: 1%;
            left: 80%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-bulle-clique2 {
            position: absolute;
            top: 2%;
            left: 83%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-reciever1 {
            position: absolute;
            top: 51%;
            left: 55%;
            width: 10%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-giver11 {
            position: absolute;
            top: 68%;
            left: 49%;
            width: 8%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-giver12 {
            position: absolute;
            top: 68%;
            left: 58%;
            width: 8%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-reciever2 {
            position: absolute;
            top: 51%;
            left: 70%;
            width: 10%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-giver21 {
            position: absolute;
            top: 68%;
            left: 68%;
            width: 8%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-giver22 {
            position: absolute;
            top: 68%;
            left: 75%;
            width: 8%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-reciever3 {
            position: absolute;
            top: 51%;
            left: 86%;
            width: 10%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-giver31 {
            position: absolute;
            top: 68%;
            left: 84%;
            width: 8%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        #container-giver32 {
            position: absolute;
            top: 68%;
            left: 92%;
            width: 8%;
            height: auto;
            max-height: 100%;
            border: none;
            padding: 0;
            margin: 0;
        }

        img {
            cursor: pointer;
        }

        #overlay {
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
        }

        .blinking-image {
            position: absolute;
            display: none;
        }

        .blinking-image2 {
            position: absolute;
            display: none;
        }

        #lutin11 {
            position: absolute;
            bottom: 0;
            display: none;
        }
        #lutin12 {
            position: absolute;
            bottom: 0;
            display: none;
        }
        table {
            width: 100%;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
	    z-index: 100;
        }

        td {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }
        .row1 td {
            width: 33.33%;
        }

        .row2 td {
            width: 16.66%;
        }
	.hidden {
            display: none;
        }
